<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deez nuts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2307F8C21CEF408900081F64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2307F8D11CEF408900081F64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2307F8DC1CEF408900081F64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
